.Button {
  background-color: #32b27d;
  border: none;
  outline: none;
  font-size: 13px;
  padding: 10px 23px;
  color: #fff;
  border-radius: 12px;
  display: flex;
  align-items: center;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
}

.Button--fullwidth {
  width: 100%;
  justify-content: center;
}

.Button svg {
  margin-right: 5px;
}
