.GroupCard {
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0px 3px 18px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}

.GroupCard__members-pics {
  display: flex;
}

.GroupCard__label {
  text-transform: uppercase;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}

.GroupCard__interest {
  font-size: 32px;
  margin-top: -5px;
  text-transform: capitalize;
}

.GroupCard__members {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.GroupCard__members-text {
  margin-left: 35px;
}
