.ChatView__header {
  /* position: fixed; */
  /* width: 100%; */
  /* top: 50px; */
  /* left: 0; */
  background-color: #fff;
  padding: 10px 0;
}
.ChatView__title {
  margin: 0;
}

.ChatView__subtitle {
  color: #666;
}

.Messages {
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 40px;
}
