.NavBar {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  height: 50px;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  padding: 0 20px;
  display: flex;
  align-items: center;
}
